.container{
    /* display: flex;
    column-gap: 10px; */
    background-color: antiquewhite;
    padding: 10px;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.header{
    font-size: 20px;
    justify-content: left;

}

#flexbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

#flexbox2{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 10px double #E0694D;
    padding: 0 5px;
    column-gap: 50px;
    background-color: #7EB8E1;
    

}

#myImage{
    display: flex;
    width: 200px;
    height: auto;
    justify-content: right;
    border: 2px solid black;
    justify-items: flex-start;
  
}

p {
    border: 1px;
    border-bottom: double;
    
}



/* EVERYTHING IS INSIdE CONTAINER
resize image
justify header left, justify pic right
remove spacing in header text
create parent grid and put flexbox inside
if i create a link, i have to create another page? with it's own CSS?
 */