html {
    background-color: rgb(208, 236, 236);
    
   
    
}

.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.5fr 3fr 0.5fr; 
    grid-template-rows: 1fr 5fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "header header header header"
      "navbar main main scroll"
      "navbar main main scroll"
      "navbar footer footer footer"; 
  }
  .navbar { 
    grid-area: navbar; }

  .header {
    display: grid; 
    grid-template-columns: 1.2fr 0.8fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "contact . ."; 
  grid-area: header; 
  }
  
  .footer { grid-area: footer; }
  .main { grid-area: main; }
  .scroll { grid-area: scroll; }
  


img {
    
    width: 150px;
    height: auto;
    border: 2px solid rgb(3, 105, 119);
    grid-area: header;
 
    

    
  
}




p, h1 {
    border: 1px;
    border-top: double  rgb(3, 105, 119);
    border-bottom: double rgb(3, 105, 119);
    
    
}



/* EVERYTHING IS INSIdE CONTAINER
resize image
justify header left, justify pic right
remove spacing in header text
create parent grid and put flexbox inside
if i create a link, i have to create another page? with it's own CSS?
add heADER? ADD BANNER? add hover?
figure out which container is holding up the others 
GOOGLE EXAMPLE PORTFOLIOS
add OOP, MVC, MS office
 */