html {
    background-color: aqua;
    
   
    
}

.container{
    display: inline-grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows:  100px 2fr 1fr;
    
   
 


    /* display: grid;
    column-gap: 10px white;
    column-gap: 10px;
    display: grid 20px 50px 20px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: fit-content;
    border: solid black; */

}

header {
   
   
    /* justify-content: left; */

}

#flexbox2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


/* #flexbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 1px;
    align-items: center;
    


} */
img {
    
    width: 200px;
    height: auto;
    border: 2px solid rgb(3, 105, 119);

    
  
}

/* #flexbox2{
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border: 10px double #E0694D;
    padding: 0 5px;
    column-gap: 50px;
    background-color: #7EB8E1;
    

} */


p {
    border: 1px;
    border-top: double  rgb(3, 105, 119);
    border-bottom: double rgb(3, 105, 119);
    
    

    
    
}



/* EVERYTHING IS INSIdE CONTAINER
resize image
justify header left, justify pic right
remove spacing in header text
create parent grid and put flexbox inside
if i create a link, i have to create another page? with it's own CSS?
add heADER? ADD BANNER? add hover?
figure out which container is holding up the others 
GOOGLE EXAMPLE PORTFOLIOS
add OOP, MVC, MS office
 */